    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <h1>Restricted page access</h1>
              <p>Please login to show this page</p> 
              	<a href="<?=HOST_URL?>/?admin=edit&account=account&action=login" class="btn btn-primary">Login to account</a></p>
            </div>
          </div>
        </div>
      </div>
      </div>