    <div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-dismissable <?=$this -> alert_mode ?>"><strong><?=$this -> alert_header ?></strong> <?=$this -> alert_string ?></div>
			</div>
		</div>
	</div>
	</div>
