    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
             <ul class="breadcrumb">
              <li class="active">
                <a href="<?=HOST_URL?>/?admin=edit&account=account">Account</a>
              </li>
              <li>
                <a href="<?=HOST_URL?>/?admin=edit&menus=menus">Menu Edit</a>
              </li>
              <li>
                <a href="<?=HOST_URL?>/?admin=edit&pages=pages">Pages edit</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    