    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <h1><?=$this->alert_header?></h1>
              <p><?=$this->alert_string?></p>
              <p>
              	<a href="<?=HOST_URL?>/?admin=edit&account=account&action=login" class="btn btn-primary">i have account</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>