    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <h1><?=$this->alert_header?></h1>
              <p><?=$this->alert_string?></p>
              <p><a href="<?=HOST_URL?>/?admin=edit&account=account&action=logout" class="btn btn-primary">logout</a> 
              	<a href="<?=HOST_URL?>/?admin=edit&account=account" class="btn btn-primary">account</a></p>
            </div>
          </div>
        </div>
      </div>
      </div>
