          <fieldset class="d-add">

            <div class="form-group" id="d-add-new">
              <div class="col-sm-12">
                <div class="input-group">
                  <select class="form-control" id="d-new-list" placeholder="Wpisz nazwę pola">
                    <option selected="selected" data-type="" value="Wybierz">Wybierz</option>
                    <option data-type="mail" value="E-mail">E-mail</option>
                    <option data-type="tel" value="Telefon">Telefon</option>
                    <option data-type="fax" value="Fax">Fax</option>
                    <option data-type="www" value="Strona WWW">Strona WWW</option>
                    <option data-type="bank" value="Konto Bankowe">Konto Bankowe</option>
                    <option data-type="finanse" value="Dane Finansowe">Dane Finansowe</option>
                    <option data-type="other" value="Inne">Inne</option>
                    <option data-type="regon" value="REGON">REGON</option>
                    <option data-type="nip" value="NIP">NIP</option>
                  </select>
                  <span class="input-group-addon">
                    <i class="fa fa-lg -square fa-bullhorn"></i>&nbsp;Nowe pole</span>
                  <span class="input-group-btn">
                    <a class="btn btn-success"><i class="fa fa-lg fa-plus-circle"></i>&nbsp;Dodaj</a>
                  </span>
                </div>
              </div>
            </div>
          </fieldset>


