         <fieldset class="d-account">
            <div class="form-group">
              <div class="col-sm-12">
                <h4>Dane Administracyjne Konta</h4>
                <label class="checkbox-inline">
                  <input name="account_can_login" value="yes" id="d-login-check" type="checkbox" data-toggle="toggle" data-on="Tak"
                  data-off="Nie" data-onstyle="success" data-offstyle="danger"<?=($this->userdetails['account_can_login']=='yes')?' checked="checked"':'';?>>
                  <i class="fa fa-lg fa-lock"></i>
                  <strong>&nbsp;Logowanie do konta</strong>
                </label>
                <label class="checkbox-inline">
                  <input name="account_active" value="yes" type="checkbox" data-toggle="toggle" data-on="Konto Aktywne" data-off="Konto Nieaktywne"
                  data-onstyle="success" data-offstyle="danger"<?=($this->userdetails['account_active']=='yes')?' checked="checked"':'';?>>
                  <i class="fa fa-lg fa-sitemap"></i>
                  <strong>&nbsp;Konto Aktywne</strong>
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" data-toggle="toggle" data-on="Zakończ edycję" data-off="Edytuj"
                  data-onstyle="info" data-offstyle="primary" id="d-account-edit">
                  <i class="fa fa-lg fa-edit"></i>
                  <strong>&nbsp;Konto</strong>
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                <input autocomplete="off" name="account_role" list="account_role" value="<?=$this->userdetails['account_role']?>" type="text" class="form-control">
                  <datalist id="account_role">
                  <!--<select name="account_role">-->
                    <option value="admin" label="Administrator">
                    <option value="editor" label="Kierownik">
                    <option value="user" label="Użytkownik">
                  <!--</select>-->
                  </datalist>
                  <span class="input-group-addon">
                    <i class="fa fa-lg fa-group"></i>&nbsp;Rodzaj konta</span>
                </div>
              </div>
            </div>
          </fieldset>
