
<div class="row">
<div class="col-sm-12">
    <div class="well">
      <h1>Oj! coś tu nie tak</h1>
      <p>Nic nie znaleziono</p>
      <a href="<?=$this->link?>" class="btn btn-primary btn-large">Wróć</a>
      <a href="?accounts-users=accounts-detail&user=<?=helper::post('id')?>" class="btn btn-primary btn-large">Popraw</a>
      <a href="?accounts-user=accounts-new" class="btn btn-primary btn-large">Wróć do nowego</a>
    </div>
</div>
</div>
<?php
var_dump($this->post);
if(isset($this->msg)) echo $this->msg;
?>
