<div class="row">
	<div class="col-sm-12">
		<h1 class="media-heading">Default Header</h1>
	</div>
	<div class="col-sm-2">
		<a href="<?=HOST?>/?appid&amp;action=inbox&amp;latlon=54.55332,13.876543" class="btn btn-block" target="loader">
			<?=Intl::_('Load Messages')?>
		</a>
		<a href="<?=HOST?>/?appid&amp;action=outbox" class="btn btn-block" target="loader">
			<?=Intl::_('Load My Messages')?>
		</a>
		<a href="?login-form&amp;action=logout" class="btn btn-block btn-danger">
			<?=Intl::_('Logout')?>
		</a>
		<a href="?pages-edit" class="btn btn-block btn-danger">
			<?=Intl::_('Pages')?>
		</a>
	</div>
	<div class="col-sm-10">
		<p class="lead">
			Messages
		</p>
		<div style="height: 20em;" class="col-sm-12 embed-responsive lead">
			<iframe name="loader" class="embed-responsive-item" src="<?=HOST?>/?appid&amp;action=inbox&amp;latlon=54.55332,13.876543">
			</iframe>
		</div>
	</div>
</div>