    <div class="section section-warning">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1><?=$this->model->get_site_data_item("page_title_str")?></h1>
              <p><?=$this->model->get_site_data_item("page_subtitle_str")?></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>