<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h2><?=$this -> page['title']; ?></h2>
              <h4><?=date("D j M G:i:s", $this -> page['ctime']) ?></h4>
              <div class="panel"><?=$this -> page['content']; ?></div>
            </div>
          </div>
      </div>
</div>