<?php $one = $this->Controller('\Test\Controllers\Core\One');?>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>Heading</h2>
                    <p>Tests</p>
                    <?php
                    var_dump($one);
                    ?>
                </div>
            </div>
            <?php $this->Error(120); ?>
            <div class="col-md-12">
                <div class="well">
                    <h2>Test ViewData</h2>
                    <?=$one->ViewData('test')?>
                </div>
            </div>
        </div>
    </div>
</div>