
    <?php if(!empty($this->userdetails)){ ?>

    <form class="form-horizontal text-info d-form" method="POST" action="?accounts-users=accounts-save"
        role="form">

          <fieldset class="d-contact">
            <div class="form-group">
              <div class="col-sm-12">
                <h4>Dane Konta</h4>
                <div class="input-group">
                  <span class="form-control" disabled="disabled"><?=date('d-m-Y',$this->userdetails['account_ctime'])?></span>
                  <span class="input-group-addon">
                    <i class="fa fa-th fa-lg"></i>&nbsp;Utworzono</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <input name="account_name" value="<?=$this->userdetails['account_name']?>" type="text" class="form-control">
                  <span class="input-group-addon">
                    <i class="fa fa-lg fa-user"></i>&nbsp;Nazwa</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <input name="account_email" value="<?=$this->userdetails['account_email']?>" type="email" class="form-control">
                  <span class="input-group-addon">
                    <i class="fa fa-at fa-lg"></i>&nbsp;E-mail</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group date" id="none" data-date-format="dd-mm-yyyy">
                  <input name="account_born" value="<?=date('d-m-Y',intval($this->userdetails['account_born'])/1000)?>"
                   type="text" class="form-control">
                  <span class="input-group-addon">
                    <i class="fa fa-th fa-lg"></i>&nbsp;Data Urodzin</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <input name="account_phone" value="<?=$this->userdetails['account_phone']?>" type="tel" class="form-control">
                  <span class="input-group-addon">
                    <i class="fa fa-phone fa-lg"></i>&nbsp;Telefon</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <input name="account_ice" value="<?=$this->userdetails['account_ice']?>" type="tel" class="form-control">
                  <span class="input-group-addon">
                    <i class="fa fa-phone fa-lg"></i>&nbsp;Numer ICE</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <input name="account_country" value="<?=$this->userdetails['account_country']?>" type="text" class="form-control">
                  <span class="input-group-addon">
                    <i class="fa fa-globe fa-lg"></i>&nbsp;Kraj</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <input name="account_lang" value="<?=$this->userdetails['account_lang']?>" type="text" class="form-control">
                  <span class="input-group-addon">
                    <i class="fa fa-globe fa-lg"></i>&nbsp;Języki</span>
                </div>
              </div>
            </div>

          <fieldset class="d-adnotes">
            <div class="form-group">
              <div class="col-sm-12">
                <h4>Adnotacje</h4>
                <textarea id="summernote" name="account_adnotation" rows="5" class="form-control" placeholder="Adnotacje"><?=(isset($this->userdetails['account_adnotation']))?$this->userdetails['account_adnotation']:'';?></textarea>
              </div>
            </div>
          </fieldset>
		      <fieldset class="d-action">
            <div class="form-group">
            <?php if(isset($this->userdetails['id'])):?>
    				<input name="id" value="<?=$this->userdetails['id']?>" type="hidden">
            <?php endif ?>
              <div class="col-sm-offset-2 col-sm-8">
                <input type="hidden" name="save" value="account">
                <button type="submit" class="btn btn-block btn-primary">
                  <i class="fa fa-fw fa-lg fa-save"></i>&nbsp;Zapisz</button>
              </div>
            </div>
        </fieldset>
	  </form>
    <?php } else { ?>
    <div class="well">
      <h1>Oj! coś tu nie tak</h1>
      <p>Nic nie znaleziono</p>
      <a href="?accounts-users=accounts-list" class="btn btn-primary btn-large">Wróć</a>
    </div>
    <?php } ?>

