<?php 
use \System\core\Router as Router;
use \System\helpers\Intl as Intl;

$menu_items = $this -> model -> getlist('main');
usort($menu_items, $this -> build_sorter('pos'));

?>
<div class="navbar navbar-default ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="?index=view"><?=$this->model->get_site_data_item("page_short_title_str")?></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <?php
        $top_menu = $this->bootstrap_menu($menu_items);
        echo $top_menu;
        ?>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

