<?php $two = new \Test\Controllers\Test\Two($this->model);?>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>Heading</h2>
                    <p>Tests</p>
                    <?php
                    var_dump($one);
                    ?>
                </div>
            </div>
            <div class="col-md-12">
                <div class="well">
                    <h2>Test ViewData</h2>
                    <?=$two->ViewData('test')?>
                </div>
            </div>
        </div>
    </div>
</div>