<?php $two = new \Test\Controllers\Test\Two($this->model);?>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>Heading</h2>
                    <p>Tests</p>
                    <?php
                    var_dump($two);
                    ?>
                </div>
            </div>
            <div class="col-md-12">
                <div class="well">
                    <h2>Test ViewData</h2>
                    <?=$two->ViewData('test')?>
                    <a href="<?=HOST?>">home</a>
                    <a href="?path=/test/two">two</a>
                    <a href="?path=/test/one">one</a>
                    <a href="?path=/test/three">one</a>
                </div>
            </div>
        </div>
    </div>
</div>