<!DOCTYPE HTML>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="<?=HOST?>../library/js/jquery.min.js"></script>
    <script type="text/javascript" src="<?=HOST?>../library/js/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="<?=HOST?>../library/js/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="<?=HOST?>../library/css/bs-style-dark.css"
    rel="stylesheet" type="text/css">
  </head>
  
  <body>