    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <h1>Ups! Not found 404!!!</h1>
              <p><?=$this->error?></p>
              <a href="<?=HOST_URL ?>/" class="btn btn-primary btn-large">go to start</a>
            </div>
          </div>
        </div>
      </div>
    </div>