<?=$this -> top ?>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12"><?=$this -> page ?></div>
        </div>
      </div>
    </div>
<?=$this -> bottom ?>