<div class="row">
	<div class="col-md-4">
		<ul class="nav nav-stacked nav-tabs">
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Profile</a>
			</li>
			<li>
				<a href="#">Messages</a>
			</li>
		</ul>
	</div>
	<div class="col-md-8">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h1 class="panel-title text-center">Page edit</h1>
				<div class="btn-group">
					<a href="#" class="active btn btn-default">En</a>
					<a href="#" class="btn btn-default">Pl
					<br>
					</a>
				</div>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" action="" method="post">
					<div class="form-group">
						<div class="col-sm-2">
							<label for="title" class="control-label">Title</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="title" name="update_page[title]">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label for="link" class="control-label">link</label>
						</div>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="link" name="update_page[link]">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label for="role" class="control-label">role</label>
						</div>
						<div class="col-sm-10">
							<select class="form-control" id="role" name="update_page[role]">
								<option value="page">Page</option>
								<option value="blog">Blog</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label for="name" class="control-label">content</label>
						</div>
						<div class="col-sm-10">
							<textarea class="form-control textarea" id="content" name="update_page[content]"
                      rows="10"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-block btn-primary">
								Apply
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
