<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title><?=HOST_URL?> | <?=(!isset($this -> model -> data -> title)) ? 'title' : $this -> model -> data -> title; ?></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="<?=HOST_URL?>/templates/new/theme/css/style.css">
  <style type="text/css">

  </style>
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
<script type="text/javascript" src="<?=HOST_URL?>/templates/new/theme/bootstrap/themes/start/js/jquery.js"></script>
    <script type="text/javascript" src="<?=HOST_URL?>/templates/new/theme/js/jquery.min.js"></script>
    <script type="text/javascript" src="<?=HOST_URL?>/templates/new/theme/js/bootstrap.min.js"></script>
    <link href="<?=HOST_URL?>/templates/new/theme/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="<?=HOST_URL?>/templates/new/theme/bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
</head>