    <div class="section section-warning">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <h1><?=$this->model->page_title_str?></h1>
            </div>
          </div>
        </div>
      </div>
    </div>