<?=$this->subview?>
<div class="row">

  <?php if(!Helper::post('items') && !empty($this->items)):?>
    <?=$this->subView(SYS.V.'manage-menu-edit')?>
  <?php else:?>
    <?=$this->subView(SYS.V.'elements-msg')?>
  <?php endif;?>
    <?=$this->subView(SYS.V.'manage-menu-new')?>
  <div class="col-sm-12 well">
    <a class="btn btn-info pull-right" href="<?=HOST_URL.'?manage'.S.'manage'.'='.'manage'.S.'menus&read=true&group='.$this->group?>"><?=intl::_('Read Data')?></a>
    <a class="btn btn-info pull-right" href="<?=HOST_URL.'?manage'.S.'manage'.'='.'manage'.S.'menus&write=true&group='.$this->group?>"><?=intl::_('Store Data')?></a>
    <a class="btn btn-info pull-right" href="<?=HOST_URL.'?manage'.S.'manage'.'='.'manage'.S.'groups&group='.$this->group?>"><?=intl::_('Bieżąca grupa')?> "<?=$this->group?>" </a>
      <?php
        if(helper::session('backlink')){
      ?>
      <a class="btn btn-warning pull-left" href="<?=helper::session('backlink')?>"><?=intl::_('Wróć')?></a>
      <?php
        }
          helper::session_Set('backlink',HOST_URL.'?manage'.S.'manage'.'='.'manage'.S.'layouts&group='.$this->group);
      ?>
  </div>
	</div>